<footer class="site-footer">
    <div class="site-footer-inside">
    <div class="copyright">
		<a class="overlay" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.es_ES"><img alt="Licencia de Creative Commons" style="border-width:0" src="{{ site.url }}/assets/img/by-nc-sa.png" height="42" /></a>
	</div>
    <div class="social-icons">
        
        {% if site.twitter_username %}
        <a href="http://twitter.com/{{ site.twitter_username }}">
            <span class="fa-stack fa-lg twitter">
                <i class="fa fa-circle fa-stack-2x fa-inverse fa-no-hover"></i>
                <i class="fa fa-twitter fa-stack-1x fa-no-hover"></i>
                <i class="fa fa-circle fa-stack-2x fa-hover"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse fa-hover"></i>
            </span>
        </a>
        {% endif %}
        {% if site.facebook_username %}
        <a href="http://facebook.com/{{ site.facebook_username }}">
            <span class="fa-stack fa-lg facebook">
                <i class="fa fa-circle fa-stack-2x fa-inverse fa-no-hover"></i>
                <i class="fa fa-facebook fa-stack-1x fa-no-hover"></i>
                <i class="fa fa-circle fa-stack-2x fa-hover"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse fa-hover"></i>
            </span>
        </a>
        {% endif %}
        {% if site.google_username %}
        <a href="http://google.com/{{ site.google_username }}">
            <span class="fa-stack fa-lg google-plus">
                <i class="fa fa-circle fa-stack-2x fa-inverse fa-no-hover"></i>
                <i class="fa fa-google-plus fa-stack-1x fa-no-hover"></i>
                <i class="fa fa-circle fa-stack-2x fa-hover"></i>
                <i class="fa fa-google-plus fa-stack-1x fa-inverse fa-hover"></i>
            </span>
        </a>
        {% endif %}
        {% if site.instagram_username %}
        <a href="http://instagram.com/{{ site.instagram_username }}">
            <span class="fa-stack fa-lg instagram">
                <i class="fa fa-circle fa-stack-2x fa-inverse fa-no-hover"></i>
                <i class="fa fa-instagram fa-stack-1x fa-no-hover"></i>
                <i class="fa fa-circle fa-stack-2x fa-hover"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse fa-hover"></i>
            </span>
        </a>
        {% endif %}
        {% if site.github_username %}
        <a href="http://github.com/{{ site.github_username }}">
            <span class="fa-stack fa-lg github">
                <i class="fa fa-github fa-stack-2x fa-inverse fa-no-hover"></i>
                <i class="fa fa-circle fa-stack-2x fa-hover"></i>
                <i class="fa fa-github fa-stack-2x fa-inverse fa-hover"></i>
            </span>
        </a>
        {% endif %}
    </div>
    </div>
    <div class="cf"></div>
</footer>