/**
 * Site header
 */
.site-header {
	width: 100%;
	position: relative;
    background: $brand-color;
	min-height: 87px;
}

.header-inside {
	margin: 0 auto;
	max-width: 720px;
	padding: 26px 0;
}

.site-title {
    margin: 0;
	display: inline-block;
	line-height: 0;
}

a.site-title {
    font-family: 'Lato', 'Helvetica Neue', Helvetica;
    letter-spacing: 0;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 22px;
    font-weight: normal;
    padding: 1px 7px 0 10px;
    margin: 0 8px 0 0;
    color: #fff;
    border: solid 2px #fff;
    display: inline-block;
	-webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	-o-transition: .07s ease-in;
	transition: .07s ease-in;
}

a.site-title:hover {
	background: #fff;
	color: $brand-color;
}

.site-description {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0;
    color: rgba(255,255,255, .75);
    margin: 0;
    display: inline-block;
}

.site-nav {
    float: right;
    font-family: 'Lato', 'Helvetica Neue', Helvetica;
    line-height: auto;
    display: inline-block;

    position: relative;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #fff;
        line-height: 41px;
        font-size: 16px;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}



/**
* Pagination Buttons
*/
.pagination {
    font-family: 'Lato', 'Helvetica Neue', Helvetica;
    line-height: 30px;
	display: block;
	width: 100%;
	padding: $spacing-unit 0px $spacing-unit*2 0px;
    background-color: $background-color;

}

.pagination-inside {
	padding: 0 25px;
	margin: 0 auto;
	max-width: 720px;
}

.pagination a {
	font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
	border: solid 2px #999;
	color: #999;
	padding: 5px 10px;
}

.pagination a:hover {
	color: #555;
	border: solid 2px #555;
}

.pagination .previous {
	float: left;
}

.pagination .previous a:before {
	font-family: "FontAwesome";
	content: "\f0d9";
	padding-right: 5px;
}

.pagination .next {
	float: right;
}

.pagination .next a:after {
	font-family: "FontAwesome";
	content: "\f0da";
	padding-left: 5px;
}



/**
 * Site footer
 */
.site-footer {
    background: black;
    display: block;
}

.site-footer-inside {
    padding: 0;
	margin: 0 auto;
	max-width: 720px;
}

.site-footer .social-icons,
.site-footer .copyright {
    width: 100%;
    padding: 0;
    text-align: center;
}

.site-footer .copyright {
    color: white;
    float: none;
    text-align: center;
    font-size: 0.8125rem;
    padding-top: 3.75rem;
    padding-bottom: 1.25rem;
}

.site-footer .copyright a {
      color: white;
}

.site-footer .copyright a:hover {
      color: #00a9e0;
}

.site-footer .social-icons {
    font-size: 16px;
    text-align: center;
    float: none;
    padding-bottom: 3.75rem;
}

.site-footer .social-icons a {
      color: black;
}

span.fa-stack i.fa-hover {
    display: none;
}

span.fa-stack:hover i.fa-no-hover {
    display: none;
}

span.fa-stack:hover i.fa-hover{
    display: inline;
}

span.twitter:hover i.fa-circle {
    color: #56acee;
}

span.facebook:hover i.fa-circle {
    color: #3b5998;
}

span.google-plus:hover i.fa-circle {
    color: #dc4e41;
}

span.github:hover i.fa-circle {
    color: #6e5494;
}

span.github:hover i.fa-github {
    color: white;
}

span.deviantart:hover i.fa-deviantart {
    color: #05cc47;
}

span.deviantart:hover i.fa-circle {
    color: white;
}

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }



/**
 * Page content
 */
.page-header .page-title {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    padding-top: $spacing-unit * 2;
    display: inline-block;
}

h1.page-title {
    font-size: 50px;
    line-height: 56px;
    font-weight: 900;
    text-transform: uppercase;
    word-spacing: 5px;
    margin: 0;

    @include media-query($on-mobile) {
        font-size: 45px;
    }
}

.page-content {
    padding-top: $spacing-unit;
    background-color: $background-color;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    font-family: 'Lato', 'Helvetica Neue', Helvetica;
    margin-left: 0;
    list-style: none;
    width: 100%;

    > li {
        margin-bottom: $spacing-unit / 5;
        border-bottom: solid 1px #eee;
    }
}

.post-meta {
	color: #aaa;
    font-family: 'Lato', 'Helvetica Neue', Helvetica;
    font-size: 12px;
    font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 0px;
	width: 100%;
	display: inline-block;
}

.external-meta {
    font-size: 16px;
    line-height: 22px;
}

.post-link h2 {
    width: 100%;
    left: 0;
    position: relative;
    line-height: 56px;
}

a.post-link {
    font-size: 50px;
    line-height: 56px;
    font-weight: 900;
    text-transform: uppercase;
    word-spacing: 5px;
    margin: 0 0 22px 0;
    color: #444;
    width: 100%;
}

a.post-link:hover {
	color: #555;
}

.featured-image {
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 4%;
}

.featured-image img {
	min-width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
	-webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	transition: .07s ease-in;
}

.featured-image-bw img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
 	filter: gray;
 	-webkit-filter: grayscale(100%);
 	-webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	transition: .07s ease-in;
}

.featured-image-bw img:hover {
 	filter: none;
 	-webkit-filter: grayscale(0%);
 	-webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	transition: .07s ease-in;
}

.post-excerpt {
	font-family: 'Lato', 'Helvetica Neue', Helvetica;
    font-style: italic;
    font-size: 18px;
    line-height: 30px;
	color: #aaa;
	border-bottom: solid 1px #eee;
	border-top: solid 1px #eee;
}

.post-excerpt > p {
        margin-bottom: 15px;
    }

div.excerpt-link {
    margin: 16px 0 100px 0;
}

.excerpt-link a {
    font-family: 'Lato', 'Helvetica Neue', Helvetica;
    text-transform: uppercase;
	font-size: 14px;
    font-weight: 500;
}

.excerpt-link a:hover:after {
	font-family: "FontAwesome";
	content: "\f105";
	padding-left: 5px;
	font-size: 16px;
	line-height: 16px;
}



/**
 * Posts
 */

.post-header {
    height: 50vw;
    background-color: $background-color;
}

.post-title {
    width: 90%;
    margin: 0 auto;
    height: auto;
    position: relative;
    bottom: 21vw;
    text-align: center;
}

.post-title h1 {
    font-size: 50px;
    line-height: 56px;
    font-weight: 900;
    text-transform: uppercase;
    word-spacing: 5px;
    margin: 0 0 22px 0;
    color: #fff;
    width: 100%;
}

h1 > a.external {
    position: relative;
    color: #fff;
    text-decoration: none;
}

h1 > a.external:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

h1 > a.external:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a.external:after {
    font-family: "FontAwesome";
//	content: "\f14c";
    content: "\f0c1";
	padding-left: 2%;
	font-size: inherit;
	line-height: inherit;
}

.full-featured-image {
    width: 100%;
    -webkit-filter: contrast(80%);
    -webkit-filter: brightness(80%);
    -webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	transition: .07s ease-in;
}

.no-featured-image {
    width: 100%;
    height: 48.61vw;
    background-color: $brand-color;
}

.home-icon {
    font-family: 'Lato', 'Helvetica Neue', Helvetica;
    font-size: 36px;
    line-height: 1em;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    position: fixed;
    top: 10px;
    left: 10px;
    color: #fff;
    background-color: $brand-color;
    border: solid 3px #fff;
    outline: solid 4px $brand-color;
    z-index: 10;
    -webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	-o-transition: .07s ease-in;
	transition: .07s ease-in;
}

.home-icon:hover {
    color: $brand-color;
    background-color: #fff;
    border-color: $brand-color;
}

.reading-time {
    font-family: 'Lato', 'Helvetica Neue', Helvetica;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    border: 2px solid #fff;
    padding: 0 8px 0 7px;
    border-radius: 5px;
}

.reading-time p {
    margin: 0;
}

.post-content {
    padding-top: $spacing-unit;
    background-color: $background-color;

    h2 {
        font-size: 32px;
        padding-top: $spacing-unit;
        padding-bottom: 12px;

        @include media-query($on-mobile) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-mobile) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-mobile) {
            font-size: 18px;
        }
    }
}

.wrapper > p:last-of-type {
    margin-bottom: $spacing-unit * 2;
}

.post-meta-section {
    text-align: center;
    line-height: 14px;
    display: block;
    margin-bottom: $spacing-unit * 2;
}

.post-tag {
    padding: 0 5px;
}

.post-share {
    padding: 80px 0;
    text-align: center;
    border-top: 1px solid #eee;
    font-size: 30px;

}

.share-icon {
    padding: 80px $spacing-unit / 2;
}



/**
* Tags and Categories
*/
.tag-box {
    font-family: 'Lato', 'Helvetica Neue', Helvetica;
    padding: 4px 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
}

.tag-box:after,.tag-box:before {
    display: table;
    line-height: 0;
    content: "";
}

.tag-box:after {
    clear: both;
}

.tag-box.inline li {
    float: left;
    font-size: 14px;
    line-height: 2.5;
}

.tag-box a {
    padding: 4px 6px;
    margin: 2px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: $brand-color;
    color: #fff;
}

.tag-box a:hover {
    background-color: $contrast-color;

    span {
        color: $contrast-color;
    }
}

.tag-box a span {
    display: inline-block;
    font-size: 10px;
    line-height: normal;
    text-align: center;
    vertical-align: text-bottom;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #fff;
    color: $brand-color;
    padding: 1px;
}


/**
* Media Queries
*/
@media all and (max-device-width: $on-mobile) {
    .post-link {
        max-width: 100%;
    }

    .post-link h2 {
        line-height: 32px;
    }

    a.post-link {
        font-size: 28px;
        line-height: 32px;
        word-spacing: 3px;
    }

    .post-header {
        height: 48vw;
    }

    .post-title h1 {
   	    width: 100%;
  	    font-size: 20px;
  	    line-height: 22px;
        position: relative;
    }
}

@media all and (min-width: $on-mobile) and (max-width: 736px) {
    .post-title h1 {
   	    width: 100%;
  	    font-size: 28px;
  	    line-height: 32px;
        position: absolute;
    }
}


@media only screen and (max-width: $on-mobile) {
    a.site-title {
        display: block;
        width: 129px;
        margin: 0 auto;
        float: none;
        text-align: center;
    }

    .site-description, .site-nav {
        display: block;
        float: none;
        text-align: center;
        margin-top: 5px;
    }

    .wrapper {
        width: auto;
    }

    .pagination .previous, .pagination .next {
        float: none;
        text-align: center;
    }
}

@media only screen and (min-width: 420px) {
    .site-footer-inside {
        padding: 0px 25px;
    }

    .site-footer .social-icons,
    .site-footer .copyright {
        width: auto;
        padding: 5rem 0;
    }

    .site-footer .copyright {
        text-align: left;
        float: left;
    }

    .site-footer .social-icons {
        text-align: right;
        float: right;
    }
}
